# Importing relevant libraries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

# Loading dataset

In [2]:
data = pd.read_csv('all_data.csv')
print(f'Dataset shape {data.shape} (number of rows vs columns')


data.head()

Dataset shape (96, 4) (number of rows vs columns

  Country  Year  Life expectancy at birth (years)           GDP
0   Chile  2000                              77.3  7.786093e+10
1   Chile  2001                              77.3  7.097992e+10
2   Chile  2002                              77.8  6.973681e+10
3   Chile  2003                              77.9  7.564346e+10
4   Chile  2004                              78.0  9.921039e+10

# Quick data summary
- Data type
- Descriptive stats
- Missing values
- Duplicated

In [10]:
# Data Structute
data.dtypes

Country                              object
Year                                  int64
Life expectancy at birth (years)    float64
GDP                                 float64
dtype: object

In [9]:
# Descriptive Statistics
data.describe(include='all')

       Country         Year  Life expectancy at birth (years)           GDP
count       96    96.000000                         96.000000  9.600000e+01
unique       6          NaN                               NaN           NaN
top      Chile          NaN                               NaN           NaN
freq        16          NaN                               NaN           NaN
mean       NaN  2007.500000                         72.789583  3.880499e+12
std        NaN     4.633971                         10.672882  5.197561e+12
min        NaN  2000.000000                         44.300000  4.415703e+09
25%        NaN  2003.750000                         74.475000  1.733018e+11
50%        NaN  2007.500000                         76.750000  1.280220e+12
75%        NaN  2011.250000                         78.900000  4.067510e+12
max        NaN  2015.000000                         81.000000  1.810000e+13

In [11]:
# Checking for missing 
data.isna().sum()

Country                             0
Year                                0
Life expectancy at birth (years)    0
GDP                                 0
dtype: int64

In [12]:
# Checking for duplicated data
data.duplicated().sum()

0

### OBS
- There is `NO` MISSING values
- There is `NO` duplicated observation

- One `object` feature, one `intenger` (natural number) feature, and two `float` (real number) float

# Basic Data tranformation
So, it is clear that feature `Year` can be seen as categorical feature, in other wordes, distinct year which the obeservation were record for 6 uniques countries.

For analysis this variable, `Year` will be explored as ordinal categorical variable while `country` will be nominal categorical variable, the remaining is just continuous numerical variables

In [25]:
# Rename the variable by lowering case
data.columns = data.columns.str.lower()

data.rename(columns = {'life expectancy at birth (years)' : 'life_expectancy'}, inplace=True)

In [17]:
# convert `Year` to object variable

data.year = data.year.astype('object')

In [26]:
# Variables name by categories
var_name = {'cat' : ['country', 'year'],
           'num' : ['life_expectancy', 'gdp']}

In [27]:
data

     country  year  life_expectancy           gdp
0      Chile  2000             77.3  7.786093e+10
1      Chile  2001             77.3  7.097992e+10
2      Chile  2002             77.8  6.973681e+10
3      Chile  2003             77.9  7.564346e+10
4      Chile  2004             78.0  9.921039e+10
..       ...   ...              ...           ...
91  Zimbabwe  2011             54.9  1.209845e+10
92  Zimbabwe  2012             56.6  1.424249e+10
93  Zimbabwe  2013             58.0  1.545177e+10
94  Zimbabwe  2014             59.2  1.589105e+10
95  Zimbabwe  2015             60.7  1.630467e+10

[96 rows x 4 columns]

# Exploratory Data Analysis (EDA)
Let's realize EDA in our dataset
- Univariate Stats Analysis
- Bivariate Stats Analysis
- Multivariates Stats Analys
- Data Viasualization
- Maybe - Clustering

## Univariate DA
### Categorical Var
- year and country

#### Year
- How  many year observed?
- Their distribution

In [29]:
# Distinct year
data.year.value_counts()

year
2000    6
2001    6
2002    6
2003    6
2004    6
2005    6
2006    6
2007    6
2008    6
2009    6
2010    6
2011    6
2012    6
2013    6
2014    6
2015    6
Name: count, dtype: int64

__OBS__:
 - It is uniformily distributed, data recorded for  16 year realted to six countries

 #### Country

In [34]:
# Which countries and how many data point observaved for each?
data.country.value_counts()

country
Chile                       16
China                       16
Germany                     16
Mexico                      16
United States of America    16
Zimbabwe                    16
Name: count, dtype: int64

In [37]:
print(f"These are the countries: {sorted(data.country.unique())}")

These are the countries: ['Chile', 'China', 'Germany', 'Mexico', 'United States of America', 'Zimbabwe']

## Numerical Variables 
- life_expectancy and gdp

### Life Expectancy

In [39]:
# distribution of life_expectancy
data.life_expectancy.describe()

count    96.000000
mean     72.789583
std      10.672882
min      44.300000
25%      74.475000
50%      76.750000
75%      78.900000
max      81.000000
Name: life_expectancy, dtype: float64

OBS:
- Minimum year life expectancy is 44 yers, maximum for 81 with mean of 72 years.
- Most of recorded data is close 
### GDP

In [40]:
data.gdp.describe()

count    9.600000e+01
mean     3.880499e+12
std      5.197561e+12
min      4.415703e+09
25%      1.733018e+11
50%      1.280220e+12
75%      4.067510e+12
max      1.810000e+13
Name: gdp, dtype: float64